
untracked/
code/.Rhistory
.Rproj.user
data/raw_data/serra_martin_pollination/supplementary_material.docx
data/raw_data/serra_martin_pollination/Comparative_assessmento_automated_manual_monitoring.pdf
data/predictions_island_scale.rds
Rplots.pdf
CLAUDE.md
main.tex
SI.tex
code/predictions_island_scale.rds
**/.DS_Store
